{% load static %}
{% load cart_template_tag %}

<div class="ui fixed menu borderless" style="border-bottom: 3px solid rgb(79,163,190);">
    <div class="ui container">
        <a class="header item" href="{% url 'home' %}">
            <img class="logo" src="{% static 'images/aug-logo.png' %}" />
            Dennea
        </a>
        <a class="item" href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated %}
            {% if request.user.is_customer %}
                <a class="item" href="{% url 'shopping_cart:order_summary' %}">
                    <i class="icon cart"></i>
                    <div class="floating ui teal circular label" style="margin-top:1.2rem !important; margin-right:60em !important;">
                        {{ request.user.customer.get_basket_count }}
                    </div>
                </a>
                <a class="item" href="{% url 'orders:customer-orders' request.user.customer.slug %}">
                    Orders
                </a>
            {% endif %}
            <a class="item" href="{% url 'products:product-list' %}">Products</a>
            <div class="ui simple dropdown item right aligned">
                {{ request.user.name }} <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Profile</a>
                    <a class="item" href="#">Link Item</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <a class="item" href="#">Settings</a>
                    <a class="item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
            <a class="item" href="{% url 'login' %}">Login</a>
            <a class="item" href="{% url 'user_signup' %}">Signup</a>
        {% endif %}
    </div>
</div>